* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	scroll-behavior: smooth;
	color: #1f2937;
}

.container {
	display: flex;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.header {
	background-color: #1f2937;
	color: #f9faf8;
	padding-top: 20px;
}

.header__container {
	justify-content: space-between;
	align-items: center;
}

.header__figure {
	height: 48px;
}

.header__figure img {
	height: 100%;
}

.main-nav__wrapper {
	display: flex;
	gap: 30px;
}

.hero {
	padding: 150px 0;
	gap: 80px;
	align-items: center;
}

.hero__article,
.hero__figure {
	flex: 1;
}

.hero__title {
	font-size: 48px;
	font-weight: bolder;
	margin-bottom: 15px;
}

.hero__description {
	font-size: 18px;
	color: #e5e7eb;
	margin-bottom: 15px;
}

.hero__figure img {
	width: 100%;
}

.button {
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	color: #fff;
}

.button--primary {
	background-color: #3882f6;
	border-color: 3882f6;
}

.about {
	text-align: center;
	padding: 80px 0;
}

.about__container {
	flex-wrap: wrap;
}

.about h3 {
	flex: auto;
	min-width: 100%;
	font-size: 36px;
	font-weight: bolder;
	margin-bottom: 50px;
}

.about__wrapper {
	display: flex;
	gap: 30px;
}

.about-item {
	flex: 1;
}

.about-item__figure {
	height: 160px;
	margin-bottom: 15px;
}

.about-item__figure img {
	height: 100%;
}

.about-item__title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 15px;
}

.about-item__text {
	font-size: 16px;
}

.testimonial {
	padding: 100px 0;
	background-color: #e5e7eb;
}

.testimonial__text {
	font-size: 36px;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 10px;
}

.testimonial__by {
	font-weight: 600;
	text-align: right;
	margin-right: 20px;
	font-size: 16px;
}

.contact {
	padding: 100px 0;
	color: #fff;
}

.contact__banner {
	display: flex;
	width: 100%;
	background-color: #3882f6;
	border-radius: 10px;
	align-items: center;
	justify-content: space-around;
	padding: 50px 0;
}

.contact__title {
	font-size: 20px;
}

.contact__text {
	font-size: 16px;
}

.footer {
	background-color: #1f2937;
	color: #fff;
	text-align: center;
	padding: 25px 0;
}

.footer small {
	font-size: 16px;
}
